In [73]:
import pandas as pd
import re

In [184]:
pd.set_option('display.max_rows', 100)

In [164]:
# partial files because provinces and locals must be added as names - their codes are integers.
# and districts as codes, their codes are municipal demarcation board, and their names exclude their code.
census2011prov = pd.read_csv("census-2011-2016-boundaries-pr-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011localmun = pd.read_csv("census-2011-2016-boundaries-mn-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011districtmun = pd.read_csv("census-2011-2016-boundaries-dc-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011 = pd.concat([census2011prov, census2011districtmun, census2011localmun])

In [165]:
census2011 = census2011.drop(columns=["Summation Options", "Unnamed: 4"])

In [166]:
census2011

                           Geography 2016 Age in completed years         Count
0                            Western Cape                      0  117650.51541
1                            Western Cape                      1  114638.43418
2                            Western Cape                      2  115387.78545
3                            Western Cape                      3  110466.22291
4                            Western Cape                      4  106657.16689
...                                   ...                    ...           ...
25982  LIM476 : Greater Tubatse/Fetakgomo                    118       0.00000
25983  LIM476 : Greater Tubatse/Fetakgomo                    119       0.00000
25984  LIM476 : Greater Tubatse/Fetakgomo                    120       0.00000
25985  LIM476 : Greater Tubatse/Fetakgomo            Unspecified       0.00000
25986                                 NaN                    NaN           NaN

[33431 rows x 3 columns]

In [167]:
commsurv2016prov = pd.read_csv("community-survey-2016-pr-age-population.csv", skiprows=9, dtype={"Age": str})
commsurv2016mun = pd.read_csv("community-survey-2016-dc-mn-age-population.csv", skiprows=9, dtype={"Age": str})
commsurv2016 = pd.concat([commsurv2016prov, commsurv2016mun])

In [168]:
commsurv2016 = commsurv2016.drop(columns=["Summation Options", "Unnamed: 4"])

In [169]:
commsurv2016[6000:]

       Age            Geography hierarchy 2016        Count
4946    18                     KZN261 : eDumbe  2206.894842
4947    18                  KZN262 : uPhongolo  3910.482937
4948    18                  KZN263 : Abaqulusi  5469.793827
4949    18                    KZN265 : Nongoma  5493.574191
4950    18                     KZN266 : Ulundi  4897.067966
...    ...                                 ...          ...
31001  116             LIM471 : Ephraim Mogale     0.000000
31002  116           LIM472 : Elias Motsoaledi     0.000000
31003  116             LIM473 : Makhuduthamaga     0.000000
31004  116  LIM476 : Greater Tubatse/Fetakgomo     0.000000
31005  NaN                                 NaN          NaN

[26060 rows x 3 columns]

In [170]:
census2011 = census2011[census2011["Geography 2016"] != "Total"]
census2011 = census2011[census2011["Age in completed years"] != "Total"]
census2011.columns = ["Geography", "Age", "Count"]

In [171]:
census2011

                                Geography          Age         Count
0                            Western Cape            0  117650.51541
1                            Western Cape            1  114638.43418
2                            Western Cape            2  115387.78545
3                            Western Cape            3  110466.22291
4                            Western Cape            4  106657.16689
...                                   ...          ...           ...
25982  LIM476 : Greater Tubatse/Fetakgomo          118       0.00000
25983  LIM476 : Greater Tubatse/Fetakgomo          119       0.00000
25984  LIM476 : Greater Tubatse/Fetakgomo          120       0.00000
25985  LIM476 : Greater Tubatse/Fetakgomo  Unspecified       0.00000
25986                                 NaN          NaN           NaN

[33431 rows x 3 columns]

In [172]:
commsurv2016 = commsurv2016[commsurv2016["Geography hierarchy 2016"] != "Total"]
commsurv2016 = commsurv2016[commsurv2016["Age"] != "Total"]
commsurv2016 = commsurv2016[["Geography hierarchy 2016", "Age", "Count"]]
commsurv2016.columns = ["Geography", "Age", "Count"]

In [173]:
commsurv2016 = commsurv2016.dropna()
commsurv2016["Geography"] = commsurv2016["Geography"].apply(lambda cell: re.sub(":.+", "", cell))

In [174]:
commsurv2016["Geography"].unique()

array(['Western Cape', 'Eastern Cape', 'Northern Cape', 'Free State',
       'KwaZulu-Natal', 'North West', 'Gauteng', 'Mpumalanga', 'Limpopo',
       'CPT', 'DC1', 'DC2', 'DC3', 'DC4', 'DC5', 'BUF', 'DC10', 'DC12',
       'DC13', 'DC14', 'DC15', 'DC44', 'NMA', 'DC45', 'DC6', 'DC7', 'DC8',
       'DC9', 'DC16', 'DC18', 'DC19', 'DC20', 'MAN', 'DC21', 'DC22',
       'DC23', 'DC24', 'DC25', 'DC26', 'DC27', 'DC28', 'DC29', 'DC43',
       'ETH', 'DC37', 'DC38', 'DC39', 'DC40', 'DC42', 'DC48', 'EKU',
       'JHB', 'TSH', 'DC30', 'DC31', 'DC32', 'DC33', 'DC34', 'DC35',
       'DC36', 'DC47', 'CPT ', 'WC011 ', 'WC012 ', 'WC013 ', 'WC014 ',
       'WC015 ', 'WC022 ', 'WC023 ', 'WC024 ', 'WC025 ', 'WC026 ',
       'WC031 ', 'WC032 ', 'WC033 ', 'WC034 ', 'WC041 ', 'WC042 ',
       'WC043 ', 'WC044 ', 'WC045 ', 'WC047 ', 'WC048 ', 'WC051 ',
       'WC052 ', 'WC053 ', 'BUF ', 'EC101 ', 'EC102 ', 'EC104 ', 'EC105 ',
       'EC106 ', 'EC108 ', 'EC109 ', 'EC121 ', 'EC122 ', 'EC123 ',
       'EC124 ', 'EC126 ', 'EC129 ', 'EC131 ', 'EC135 ', 'EC137 ',
       'EC138 ', 'EC139 ', 'EC136 ', 'EC141 ', 'EC142 ', 'EC145 ',
       'EC153 ', 'EC154 ', 'EC155 ', 'EC156 ', 'EC157 ', 'EC441 ',
       'EC442 ', 'EC443 ', 'EC444 ', 'NMA ', 'NC451 ', 'NC452 ', 'NC453 ',
       'NC061 ', 'NC062 ', 'NC064 ', 'NC065 ', 'NC066 ', 'NC067 ',
       'NC071 ', 'NC072 ', 'NC073 ', 'NC074 ', 'NC075 ', 'NC076 ',
       'NC077 ', 'NC078 ', 'NC082 ', 'NC084 ', 'NC085 ', 'NC086 ',
       'NC087 ', 'NC091 ', 'NC092 ', 'NC093 ', 'NC094 ', 'FS161 ',
       'FS162 ', 'FS163 ', 'FS181 ', 'FS182 ', 'FS183 ', 'FS184 ',
       'FS185 ', 'FS191 ', 'FS192 ', 'FS193 ', 'FS194 ', 'FS195 ',
       'FS196 ', 'FS204 ', 'FS205 ', 'FS201 ', 'FS203 ', 'MAN ',
       'KZN212 ', 'KZN213 ', 'KZN214 ', 'KZN216 ', 'KZN221 ', 'KZN222 ',
       'KZN224 ', 'KZN225 ', 'KZN226 ', 'KZN227 ', 'KZN223 ', 'KZN235 ',
       'KZN237 ', 'KZN238 ', 'KZN241 ', 'KZN242 ', 'KZN244 ', 'KZN245 ',
       'KZN252 ', 'KZN253 ', 'KZN254 ', 'KZN261 ', 'KZN262 ', 'KZN263 ',
       'KZN265 ', 'KZN266 ', 'KZN271 ', 'KZN272 ', 'KZN275 ', 'KZN276 ',
       'KZN281 ', 'KZN282 ', 'KZN284 ', 'KZN285 ', 'KZN286 ', 'KZN291 ',
       'KZN292 ', 'KZN293 ', 'KZN294 ', 'KZN433 ', 'KZN434 ', 'KZN435 ',
       'KZN436 ', 'ETH ', 'NW371 ', 'NW372 ', 'NW373 ', 'NW374 ',
       'NW375 ', 'NW381 ', 'NW383 ', 'NW384 ', 'NW385 ', 'NW382 ',
       'NW392 ', 'NW393 ', 'NW394 ', 'NW396 ', 'NW397 ', 'NW403 ',
       'NW404 ', 'NW405 ', 'GT422 ', 'GT421 ', 'GT423 ', 'GT481 ',
       'GT484 ', 'GT485 ', 'EKU ', 'JHB ', 'TSH ', 'MP301 ', 'MP302 ',
       'MP303 ', 'MP304 ', 'MP305 ', 'MP306 ', 'MP307 ', 'MP311 ',
       'MP312 ', 'MP313 ', 'MP314 ', 'MP315 ', 'MP316 ', 'MP321 ',
       'MP325 ', 'MP324 ', 'MP326 ', 'LIM331 ', 'LIM332 ', 'LIM333 ',
       'LIM334 ', 'LIM335 ', 'LIM341 ', 'LIM343 ', 'LIM344 ', 'LIM345 ',
       'LIM355 ', 'LIM351 ', 'LIM353 ', 'LIM354 ', 'LIM361 ', 'LIM362 ',
       'LIM366 ', 'LIM367 ', 'LIM368 ', 'LIM471 ', 'LIM472 ', 'LIM473 ',
       'LIM476 '], dtype=object)

In [175]:
census2011 = census2011.dropna()
census2011["Geography"] = census2011["Geography"].apply(lambda cell: re.sub(" :.+", "", cell))

/tmp/ipykernel_99406/1177430646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census2011["Geography"] = census2011["Geography"].apply(lambda cell: re.sub(" :.+", "", cell))

In [176]:
census2011["Geography"].unique()

array(['Western Cape', 'Eastern Cape', 'Northern Cape', 'Free State',
       'KwaZulu-Natal', 'North West', 'Gauteng', 'Mpumalanga', 'Limpopo',
       'CPT', 'DC1', 'DC2', 'DC3', 'DC4', 'DC5', 'BUF', 'DC10', 'DC12',
       'DC13', 'DC14', 'DC15', 'DC44', 'NMA', 'DC45', 'DC6', 'DC7', 'DC8',
       'DC9', 'DC16', 'DC18', 'DC19', 'DC20', 'MAN', 'DC21', 'DC22',
       'DC23', 'DC24', 'DC25', 'DC26', 'DC27', 'DC28', 'DC29', 'DC43',
       'ETH', 'DC37', 'DC38', 'DC39', 'DC40', 'DC42', 'DC48', 'EKU',
       'JHB', 'TSH', 'DC30', 'DC31', 'DC32', 'DC33', 'DC34', 'DC35',
       'DC36', 'DC47', 'WC011', 'WC012', 'WC013', 'WC014', 'WC015',
       'WC022', 'WC023', 'WC024', 'WC025', 'WC026', 'WC031', 'WC032',
       'WC033', 'WC034', 'WC041', 'WC042', 'WC043', 'WC044', 'WC045',
       'WC047', 'WC048', 'WC051', 'WC052', 'WC053', 'EC101', 'EC102',
       'EC104', 'EC105', 'EC106', 'EC108', 'EC109', 'EC121', 'EC122',
       'EC123', 'EC124', 'EC126', 'EC129', 'EC131', 'EC135', 'EC137',
       'EC138', 'EC139', 'EC136', 'EC141', 'EC142', 'EC145', 'EC153',
       'EC154', 'EC155', 'EC156', 'EC157', 'EC441', 'EC442', 'EC443',
       'EC444', 'NC451', 'NC452', 'NC453', 'NC061', 'NC062', 'NC064',
       'NC065', 'NC066', 'NC067', 'NC071', 'NC072', 'NC073', 'NC074',
       'NC075', 'NC076', 'NC077', 'NC078', 'NC082', 'NC084', 'NC085',
       'NC086', 'NC087', 'NC091', 'NC092', 'NC093', 'NC094', 'FS161',
       'FS162', 'FS163', 'FS181', 'FS182', 'FS183', 'FS184', 'FS185',
       'FS191', 'FS192', 'FS193', 'FS194', 'FS195', 'FS196', 'FS204',
       'FS205', 'FS201', 'FS203', 'KZN212', 'KZN213', 'KZN214', 'KZN216',
       'KZN221', 'KZN222', 'KZN224', 'KZN225', 'KZN226', 'KZN227',
       'KZN223', 'KZN235', 'KZN237', 'KZN238', 'KZN241', 'KZN242',
       'KZN244', 'KZN245', 'KZN252', 'KZN253', 'KZN254', 'KZN261',
       'KZN262', 'KZN263', 'KZN265', 'KZN266', 'KZN271', 'KZN272',
       'KZN275', 'KZN276', 'KZN281', 'KZN282', 'KZN284', 'KZN285',
       'KZN286', 'KZN291', 'KZN292', 'KZN293', 'KZN294', 'KZN433',
       'KZN434', 'KZN435', 'KZN436', 'NW371', 'NW372', 'NW373', 'NW374',
       'NW375', 'NW381', 'NW383', 'NW384', 'NW385', 'NW382', 'NW392',
       'NW393', 'NW394', 'NW396', 'NW397', 'NW403', 'NW404', 'NW405',
       'GT422', 'GT421', 'GT423', 'GT481', 'GT484', 'GT485', 'MP301',
       'MP302', 'MP303', 'MP304', 'MP305', 'MP306', 'MP307', 'MP311',
       'MP312', 'MP313', 'MP314', 'MP315', 'MP316', 'MP321', 'MP325',
       'MP324', 'MP326', 'LIM331', 'LIM332', 'LIM333', 'LIM334', 'LIM335',
       'LIM341', 'LIM343', 'LIM344', 'LIM345', 'LIM355', 'LIM351',
       'LIM353', 'LIM354', 'LIM361', 'LIM362', 'LIM366', 'LIM367',
       'LIM368', 'LIM471', 'LIM472', 'LIM473', 'LIM476'], dtype=object)

In [189]:
pop2011_2016 = census2011.merge(commsurv2016, how="outer", on=["Geography", "Age"], suffixes=("_2011", "_2016"))

In [190]:
pop2011_2016

          Geography  Age    Count_2011     Count_2016
0      Western Cape    0  117650.51541  112560.644948
1      Western Cape    1  114638.43418  112426.124685
2      Western Cape    2  115387.78545  121214.976259
3      Western Cape    3  110466.22291  110598.166595
4      Western Cape    4  106657.16689  113570.907357
...             ...  ...           ...            ...
58344       LIM368   116           NaN       0.000000
58345       LIM471   116           NaN       0.000000
58346       LIM472   116           NaN       0.000000
58347       LIM473   116           NaN       0.000000
58348       LIM476   116           NaN       0.000000

[58349 rows x 4 columns]

In [191]:
lim471 = pop2011_2016[pop2011_2016.Geography == "LIM471"]

In [192]:
lim471

      Geography          Age  Count_2011  Count_2016
32940    LIM471            0  3411.40307         NaN
32941    LIM471            1  3409.76232         NaN
32942    LIM471            2  3290.63453         NaN
32943    LIM471            3  3325.00199         NaN
32944    LIM471            4  3125.38834         NaN
...         ...          ...         ...         ...
33057    LIM471          117     0.00000         NaN
33058    LIM471          118     0.00000         NaN
33059    LIM471          119     0.00000         NaN
33060    LIM471          120     0.00000         NaN
33061    LIM471  Unspecified     0.00000         NaN

[122 rows x 4 columns]

In [193]:
pop2011_2016.to_csv("pop2011_2016.csv")