In [2]:
import pandas as pd

In [48]:
# partial files because provinces and locals must be added as names - their codes are integers.
# and districts as codes, their codes are municipal demarcation board, and their names exclude their code.
census2011prov = pd.read_csv("census-2011-2016-boundaries-pr-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011localmun = pd.read_csv("census-2011-2016-boundaries-mn-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011districtmun = pd.read_csv("census-2011-2016-boundaries-dc-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011 = pd.concat([census2011prov, census2011districtmun, census2011localmun])

In [49]:
census2011 = census2011.drop(columns=["Summation Options", "Unnamed: 4"])

In [50]:
census2011[5000:]

                           Geography 2016 Age in completed years        Count
3901                                 DC28                    119      1.12287
3902                                 DC28                    120      0.00000
3903                                 DC28            Unspecified      0.00000
3904                                 DC29                      0  15280.07153
3905                                 DC29                      1  15343.76226
...                                   ...                    ...          ...
25982  LIM476 : Greater Tubatse/Fetakgomo                    118      0.00000
25983  LIM476 : Greater Tubatse/Fetakgomo                    119      0.00000
25984  LIM476 : Greater Tubatse/Fetakgomo                    120      0.00000
25985  LIM476 : Greater Tubatse/Fetakgomo            Unspecified      0.00000
25986                                 NaN                    NaN          NaN

[28431 rows x 3 columns]

In [68]:
commsurv2016prov = pd.read_csv("community-survey-2016-pr-age-population.csv", skiprows=9, dtype={"Age": str})
commsurv2016mun = pd.read_csv("community-survey-2016-dc-mn-age-population.csv", skiprows=9, dtype={"Age": str})
commsurv2016 = pd.concat([commsurv2016prov, commsurv2016mun])

In [69]:
commsurv2016 = commsurv2016.drop(columns=["Summation Options", "Unnamed: 4"])

In [36]:
commsurv2016[6000:]

      Age Geography hierarchy 2016          Count
4946   32                      JHB   85191.470848
4947   33                      JHB   86466.518837
4948   34                      JHB   71136.594468
4949   35                      JHB  111067.947836
4950   36                      JHB  104687.048422
...   ...                      ...            ...
6197  113                    Total      68.551399
6198  114                    Total      87.850892
6199  115                    Total     219.438187
6200  116                    Total     100.469795
6201  NaN                      NaN            NaN

[1256 rows x 3 columns]

In [66]:
census2011 = census2011[census2011["Geography 2016"] != "Total"]
census2011 = census2011[census2011["Age in completed years"] != "Total"]
census2011.columns = ["Geography", "Age", "Count"]

In [56]:
census2011

                           Geography 2016 Age in completed years         Count
0                            Western Cape                      0  117650.51541
1                            Western Cape                      1  114638.43418
2                            Western Cape                      2  115387.78545
3                            Western Cape                      3  110466.22291
4                            Western Cape                      4  106657.16689
...                                   ...                    ...           ...
25982  LIM476 : Greater Tubatse/Fetakgomo                    118       0.00000
25983  LIM476 : Greater Tubatse/Fetakgomo                    119       0.00000
25984  LIM476 : Greater Tubatse/Fetakgomo                    120       0.00000
25985  LIM476 : Greater Tubatse/Fetakgomo            Unspecified       0.00000
25986                                 NaN                    NaN           NaN

[33431 rows x 3 columns]

In [70]:
commsurv2016 = commsurv2016[commsurv2016["Geography hierarchy 2016"] != "Total"]
commsurv2016 = commsurv2016[commsurv2016["Age"] != "Total"]
commsurv2016 = commsurv2016[["Geography hierarchy 2016", "Age", "Count"]]
commsurv2016.columns = ["Geography", "Age", "Count"]

In [71]:
commsurv2016

                                Geography  Age          Count
0                            Western Cape    0  112560.644948
1                            Eastern Cape    0  144153.659291
2                           Northern Cape    0   22959.908748
3                              Free State    0   51272.282969
4                           KwaZulu-Natal    0  243054.420864
...                                   ...  ...            ...
31001             LIM471 : Ephraim Mogale  116       0.000000
31002           LIM472 : Elias Motsoaledi  116       0.000000
31003             LIM473 : Makhuduthamaga  116       0.000000
31004  LIM476 : Greater Tubatse/Fetakgomo  116       0.000000
31005                                 NaN  NaN            NaN

[32060 rows x 3 columns]

In [72]:
census2011.merge(commsurv2016, how="outer", on=["Geography", "Age"], suffixes=("_2011", "_2016"))

              Geography  Age    Count_2011     Count_2016
0          Western Cape    0  117650.51541  112560.644948
1          Western Cape    1  114638.43418  112426.124685
2          Western Cape    2  115387.78545  121214.976259
3          Western Cape    3  110466.22291  110598.166595
4          Western Cape    4  106657.16689  113570.907357
...                 ...  ...           ...            ...
39513      DC33: Mopani  116           NaN       0.000000
39514      DC34: Vhembe  116           NaN       0.000000
39515   DC35: Capricorn  116           NaN      10.621659
39516   DC36: Waterberg  116           NaN       0.000000
39517  DC47: Sekhukhune  116           NaN       0.000000

[39518 rows x 4 columns]