In [73]:
import pandas as pd
import re

In [184]:
pd.set_option('display.max_rows', 100)

In [194]:
# partial files because provinces and locals must be added as names - their codes are integers.
# and districts as codes, their codes are municipal demarcation board, and their names exclude their code.
census2011prov = pd.read_csv("census-2011-2016-boundaries-pr-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011localmun = pd.read_csv("census-2011-2016-boundaries-mn-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011districtmun = pd.read_csv("census-2011-2016-boundaries-dc-age-population.csv", skiprows=9, dtype={"Age in completed years": str})
census2011 = pd.concat([census2011prov, census2011districtmun, census2011localmun])

ValueError: invalid literal for int() with base 10: 'Unspecified'

In [195]:
census2011 = census2011.drop(columns=["Summation Options", "Unnamed: 4"])

In [196]:
census2011

                           Geography 2016 Age in completed years         Count
0                            Western Cape                      0  117650.51541
1                            Western Cape                      1  114638.43418
2                            Western Cape                      2  115387.78545
3                            Western Cape                      3  110466.22291
4                            Western Cape                      4  106657.16689
...                                   ...                    ...           ...
25982  LIM476 : Greater Tubatse/Fetakgomo                    118       0.00000
25983  LIM476 : Greater Tubatse/Fetakgomo                    119       0.00000
25984  LIM476 : Greater Tubatse/Fetakgomo                    120       0.00000
25985  LIM476 : Greater Tubatse/Fetakgomo            Unspecified       0.00000
25986                                 NaN                    NaN           NaN

[33431 rows x 3 columns]

In [197]:
commsurv2016prov = pd.read_csv("community-survey-2016-pr-age-population.csv", skiprows=9, dtype={"Age": str})
commsurv2016mun = pd.read_csv("community-survey-2016-dc-mn-age-population.csv", skiprows=9, dtype={"Age": str})
commsurv2016 = pd.concat([commsurv2016prov, commsurv2016mun])

In [198]:
commsurv2016 = commsurv2016.drop(columns=["Summation Options", "Unnamed: 4"])

In [199]:
commsurv2016[6000:]

       Age            Geography hierarchy 2016        Count
4946    18                     KZN261 : eDumbe  2206.894842
4947    18                  KZN262 : uPhongolo  3910.482937
4948    18                  KZN263 : Abaqulusi  5469.793827
4949    18                    KZN265 : Nongoma  5493.574191
4950    18                     KZN266 : Ulundi  4897.067966
...    ...                                 ...          ...
31001  116             LIM471 : Ephraim Mogale     0.000000
31002  116           LIM472 : Elias Motsoaledi     0.000000
31003  116             LIM473 : Makhuduthamaga     0.000000
31004  116  LIM476 : Greater Tubatse/Fetakgomo     0.000000
31005  NaN                                 NaN          NaN

[26060 rows x 3 columns]

In [200]:
census2011 = census2011[census2011["Geography 2016"] != "Total"]
census2011 = census2011[census2011["Age in completed years"] != "Total"]
census2011.columns = ["Geography", "Age", "Count"]

In [201]:
census2011

                                Geography          Age         Count
0                            Western Cape            0  117650.51541
1                            Western Cape            1  114638.43418
2                            Western Cape            2  115387.78545
3                            Western Cape            3  110466.22291
4                            Western Cape            4  106657.16689
...                                   ...          ...           ...
25982  LIM476 : Greater Tubatse/Fetakgomo          118       0.00000
25983  LIM476 : Greater Tubatse/Fetakgomo          119       0.00000
25984  LIM476 : Greater Tubatse/Fetakgomo          120       0.00000
25985  LIM476 : Greater Tubatse/Fetakgomo  Unspecified       0.00000
25986                                 NaN          NaN           NaN

[33431 rows x 3 columns]

In [202]:
commsurv2016 = commsurv2016[commsurv2016["Geography hierarchy 2016"] != "Total"]
commsurv2016 = commsurv2016[commsurv2016["Age"] != "Total"]
commsurv2016 = commsurv2016[["Geography hierarchy 2016", "Age", "Count"]]
commsurv2016.columns = ["Geography", "Age", "Count"]

In [203]:
commsurv2016 = commsurv2016.dropna()
commsurv2016["Geography"] = commsurv2016["Geography"].apply(lambda cell: re.sub(" *:.+", "", cell))

In [204]:
commsurv2016["Geography"].unique()

array(['Western Cape', 'Eastern Cape', 'Northern Cape', 'Free State',
       'KwaZulu-Natal', 'North West', 'Gauteng', 'Mpumalanga', 'Limpopo',
       'CPT', 'DC1', 'DC2', 'DC3', 'DC4', 'DC5', 'BUF', 'DC10', 'DC12',
       'DC13', 'DC14', 'DC15', 'DC44', 'NMA', 'DC45', 'DC6', 'DC7', 'DC8',
       'DC9', 'DC16', 'DC18', 'DC19', 'DC20', 'MAN', 'DC21', 'DC22',
       'DC23', 'DC24', 'DC25', 'DC26', 'DC27', 'DC28', 'DC29', 'DC43',
       'ETH', 'DC37', 'DC38', 'DC39', 'DC40', 'DC42', 'DC48', 'EKU',
       'JHB', 'TSH', 'DC30', 'DC31', 'DC32', 'DC33', 'DC34', 'DC35',
       'DC36', 'DC47', 'WC011', 'WC012', 'WC013', 'WC014', 'WC015',
       'WC022', 'WC023', 'WC024', 'WC025', 'WC026', 'WC031', 'WC032',
       'WC033', 'WC034', 'WC041', 'WC042', 'WC043', 'WC044', 'WC045',
       'WC047', 'WC048', 'WC051', 'WC052', 'WC053', 'EC101', 'EC102',
       'EC104', 'EC105', 'EC106', 'EC108', 'EC109', 'EC121', 'EC122',
       'EC123', 'EC124', 'EC126', 'EC129', 'EC131', 'EC135', 'EC137',
       'EC138', 'EC139', 'EC136', 'EC141', 'EC142', 'EC145', 'EC153',
       'EC154', 'EC155', 'EC156', 'EC157', 'EC441', 'EC442', 'EC443',
       'EC444', 'NC451', 'NC452', 'NC453', 'NC061', 'NC062', 'NC064',
       'NC065', 'NC066', 'NC067', 'NC071', 'NC072', 'NC073', 'NC074',
       'NC075', 'NC076', 'NC077', 'NC078', 'NC082', 'NC084', 'NC085',
       'NC086', 'NC087', 'NC091', 'NC092', 'NC093', 'NC094', 'FS161',
       'FS162', 'FS163', 'FS181', 'FS182', 'FS183', 'FS184', 'FS185',
       'FS191', 'FS192', 'FS193', 'FS194', 'FS195', 'FS196', 'FS204',
       'FS205', 'FS201', 'FS203', 'KZN212', 'KZN213', 'KZN214', 'KZN216',
       'KZN221', 'KZN222', 'KZN224', 'KZN225', 'KZN226', 'KZN227',
       'KZN223', 'KZN235', 'KZN237', 'KZN238', 'KZN241', 'KZN242',
       'KZN244', 'KZN245', 'KZN252', 'KZN253', 'KZN254', 'KZN261',
       'KZN262', 'KZN263', 'KZN265', 'KZN266', 'KZN271', 'KZN272',
       'KZN275', 'KZN276', 'KZN281', 'KZN282', 'KZN284', 'KZN285',
       'KZN286', 'KZN291', 'KZN292', 'KZN293', 'KZN294', 'KZN433',
       'KZN434', 'KZN435', 'KZN436', 'NW371', 'NW372', 'NW373', 'NW374',
       'NW375', 'NW381', 'NW383', 'NW384', 'NW385', 'NW382', 'NW392',
       'NW393', 'NW394', 'NW396', 'NW397', 'NW403', 'NW404', 'NW405',
       'GT422', 'GT421', 'GT423', 'GT481', 'GT484', 'GT485', 'MP301',
       'MP302', 'MP303', 'MP304', 'MP305', 'MP306', 'MP307', 'MP311',
       'MP312', 'MP313', 'MP314', 'MP315', 'MP316', 'MP321', 'MP325',
       'MP324', 'MP326', 'LIM331', 'LIM332', 'LIM333', 'LIM334', 'LIM335',
       'LIM341', 'LIM343', 'LIM344', 'LIM345', 'LIM355', 'LIM351',
       'LIM353', 'LIM354', 'LIM361', 'LIM362', 'LIM366', 'LIM367',
       'LIM368', 'LIM471', 'LIM472', 'LIM473', 'LIM476'], dtype=object)

In [205]:
census2011 = census2011.dropna()
census2011["Geography"] = census2011["Geography"].apply(lambda cell: re.sub(" *:.+", "", cell))

/tmp/ipykernel_99406/3188967496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census2011["Geography"] = census2011["Geography"].apply(lambda cell: re.sub(" *:.+", "", cell))

In [206]:
census2011["Geography"].unique()

array(['Western Cape', 'Eastern Cape', 'Northern Cape', 'Free State',
       'KwaZulu-Natal', 'North West', 'Gauteng', 'Mpumalanga', 'Limpopo',
       'CPT', 'DC1', 'DC2', 'DC3', 'DC4', 'DC5', 'BUF', 'DC10', 'DC12',
       'DC13', 'DC14', 'DC15', 'DC44', 'NMA', 'DC45', 'DC6', 'DC7', 'DC8',
       'DC9', 'DC16', 'DC18', 'DC19', 'DC20', 'MAN', 'DC21', 'DC22',
       'DC23', 'DC24', 'DC25', 'DC26', 'DC27', 'DC28', 'DC29', 'DC43',
       'ETH', 'DC37', 'DC38', 'DC39', 'DC40', 'DC42', 'DC48', 'EKU',
       'JHB', 'TSH', 'DC30', 'DC31', 'DC32', 'DC33', 'DC34', 'DC35',
       'DC36', 'DC47', 'WC011', 'WC012', 'WC013', 'WC014', 'WC015',
       'WC022', 'WC023', 'WC024', 'WC025', 'WC026', 'WC031', 'WC032',
       'WC033', 'WC034', 'WC041', 'WC042', 'WC043', 'WC044', 'WC045',
       'WC047', 'WC048', 'WC051', 'WC052', 'WC053', 'EC101', 'EC102',
       'EC104', 'EC105', 'EC106', 'EC108', 'EC109', 'EC121', 'EC122',
       'EC123', 'EC124', 'EC126', 'EC129', 'EC131', 'EC135', 'EC137',
       'EC138', 'EC139', 'EC136', 'EC141', 'EC142', 'EC145', 'EC153',
       'EC154', 'EC155', 'EC156', 'EC157', 'EC441', 'EC442', 'EC443',
       'EC444', 'NC451', 'NC452', 'NC453', 'NC061', 'NC062', 'NC064',
       'NC065', 'NC066', 'NC067', 'NC071', 'NC072', 'NC073', 'NC074',
       'NC075', 'NC076', 'NC077', 'NC078', 'NC082', 'NC084', 'NC085',
       'NC086', 'NC087', 'NC091', 'NC092', 'NC093', 'NC094', 'FS161',
       'FS162', 'FS163', 'FS181', 'FS182', 'FS183', 'FS184', 'FS185',
       'FS191', 'FS192', 'FS193', 'FS194', 'FS195', 'FS196', 'FS204',
       'FS205', 'FS201', 'FS203', 'KZN212', 'KZN213', 'KZN214', 'KZN216',
       'KZN221', 'KZN222', 'KZN224', 'KZN225', 'KZN226', 'KZN227',
       'KZN223', 'KZN235', 'KZN237', 'KZN238', 'KZN241', 'KZN242',
       'KZN244', 'KZN245', 'KZN252', 'KZN253', 'KZN254', 'KZN261',
       'KZN262', 'KZN263', 'KZN265', 'KZN266', 'KZN271', 'KZN272',
       'KZN275', 'KZN276', 'KZN281', 'KZN282', 'KZN284', 'KZN285',
       'KZN286', 'KZN291', 'KZN292', 'KZN293', 'KZN294', 'KZN433',
       'KZN434', 'KZN435', 'KZN436', 'NW371', 'NW372', 'NW373', 'NW374',
       'NW375', 'NW381', 'NW383', 'NW384', 'NW385', 'NW382', 'NW392',
       'NW393', 'NW394', 'NW396', 'NW397', 'NW403', 'NW404', 'NW405',
       'GT422', 'GT421', 'GT423', 'GT481', 'GT484', 'GT485', 'MP301',
       'MP302', 'MP303', 'MP304', 'MP305', 'MP306', 'MP307', 'MP311',
       'MP312', 'MP313', 'MP314', 'MP315', 'MP316', 'MP321', 'MP325',
       'MP324', 'MP326', 'LIM331', 'LIM332', 'LIM333', 'LIM334', 'LIM335',
       'LIM341', 'LIM343', 'LIM344', 'LIM345', 'LIM355', 'LIM351',
       'LIM353', 'LIM354', 'LIM361', 'LIM362', 'LIM366', 'LIM367',
       'LIM368', 'LIM471', 'LIM472', 'LIM473', 'LIM476'], dtype=object)

In [217]:
pop2011_2016 = census2011.merge(commsurv2016, how="right", on=["Geography", "Age"], suffixes=("_2011", "_2016"))

In [218]:
pop2011_2016

           Geography  Age    Count_2011     Count_2016
0       Western Cape    0  117650.51541  112560.644948
1       Eastern Cape    0  145067.14456  144153.659291
2      Northern Cape    0   24678.68558   22959.908748
3         Free State    0   58976.36112   51272.282969
4      KwaZulu-Natal    0  237444.27713  243054.420864
...              ...  ...           ...            ...
33925         LIM368  116       0.00000       0.000000
33926         LIM471  116       0.00000       0.000000
33927         LIM472  116       0.00000       0.000000
33928         LIM473  116       0.00000       0.000000
33929         LIM476  116       0.00000       0.000000

[33930 rows x 4 columns]

In [219]:
lim471 = pop2011_2016[pop2011_2016.Geography == "LIM471"]

In [221]:
lim471

      Geography  Age  Count_2011   Count_2016
1330     LIM471    0  3411.40307  3052.968028
1611     LIM471    1  3409.76232  3201.448404
1892     LIM471    2  3290.63453  2914.250813
2173     LIM471    3  3325.00199  3316.603089
2454     LIM471    4  3125.38834  2996.907153
...         ...  ...         ...          ...
32802    LIM471  112     0.00000     0.000000
33083    LIM471  113     0.00000     0.000000
33364    LIM471  114     0.00000     0.000000
33645    LIM471  115     0.00000     0.000000
33926    LIM471  116     0.00000     0.000000

[117 rows x 4 columns]

In [222]:
pop2011_2016.to_csv("pop2011_2016.csv")

In [234]:
bins = [0, 15, 25, 35, 45, 55, 65, float("inf")]
labels = ["0-14", "15-24", "25-34", "35-44", "45-54", "55-64", "65+"]
pop2011_2016["Age group"] = pd.cut(pop2011_2016.Age.astype(int), bins=bins, labels=labels, right=False)

In [235]:
pop2011_2016

           Geography  Age    Count_2011     Count_2016 Age group
0       Western Cape    0  117650.51541  112560.644948      0-14
1       Eastern Cape    0  145067.14456  144153.659291      0-14
2      Northern Cape    0   24678.68558   22959.908748      0-14
3         Free State    0   58976.36112   51272.282969      0-14
4      KwaZulu-Natal    0  237444.27713  243054.420864      0-14
...              ...  ...           ...            ...       ...
33925         LIM368  116       0.00000       0.000000       65+
33926         LIM471  116       0.00000       0.000000       65+
33927         LIM472  116       0.00000       0.000000       65+
33928         LIM473  116       0.00000       0.000000       65+
33929         LIM476  116       0.00000       0.000000       65+

[33930 rows x 5 columns]

In [236]:
pop2011_2016_age_grouped = pop2011_2016.groupby(["Geography", "Age group"]).sum()

/tmp/ipykernel_99406/4031663962.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pop2011_2016_age_grouped = pop2011_2016.groupby(["Geography", "Age group"]).sum()

In [237]:
pop2011_2016_age_grouped

                          Count_2011    Count_2016
Geography    Age group
BUF          0-14       8.290059e+05  1.054150e+06
             15-24      5.977850e+05  5.614317e+05
             25-34      5.276446e+05  5.915025e+05
             35-44      4.140248e+05  4.273226e+05
             45-54      3.447558e+05  3.324837e+05
...                              ...           ...
Western Cape 25-34      1.074148e+06  1.068125e+06
             35-44      8.316753e+05  9.399271e+05
             45-54      6.405509e+05  7.101152e+05
             55-64      4.066556e+05  4.748624e+05
             65+        3.421995e+05  3.890691e+05

[1862 rows x 2 columns]

In [238]:
pop2011_2016_age_grouped.to_csv("pop2011_2016_age_grouped.csv")